* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    overflow-x: hidden;
}

#logo {
    margin-left: 100px;
    font-size: 24px;
    color: #f9faf8;
}

#home {
    padding: 15px;
    background-color: #1f2937;
    height: 500px;
    width: 100%;
}

h1 {
    display: flex ;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.intro {
    
    margin-bottom: 15px;
}

.intro, .nav-links {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 50px;
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: #d2d3d5;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: wheat;
}

.headline { 
    top: 0;
    left: 0;
    padding: 15px;
    padding-top: 40px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #1f29378b;
}

.sign-up {
    background-color: #3882f6;
    border: hidden;
    border-radius: 7px;
    padding: 5px;
    width: 100px;
    height: 35px;
    box-shadow: 5px 6px 8px  rgba(0, 0, 0, 0.5);

}

.sign-up:hover {
    cursor: pointer;
    background-color: #3271d6;
    box-shadow: 2px 2px 5px red, -3px -3px 10px blue;

}

.main-img {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    flex-shrink: 0;
}

nav {
    margin-right: 100px;
    display: flex;
    justify-content: right;
}

.container {
    padding: 0 100px;
    margin-top: 140px;
    display: flex;
    gap: 90px;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.info-container {
    height: 400px;
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.image {
    height: 240px;
    width: 210px;
    border-radius: 9px;
}
.img-text {
    padding-top: 5px;
    text-align: left;
    width: 200px;
}

.quote-container {
    height: 380px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.credit {
    padding: 10px;
    display: flex;
    justify-content: end;
    font-weight: 600;
    color: black;
}

.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    width: 100%;
}

.sign-box {
    color: #e5e7eb;
    border-radius: 9px;
    height: 130px;
    width: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    gap: 150px;
}

.sign-up-2 {
    color: #e5e7eb;
    border-radius: 7px;
    border: 2px solid #e5e7eb;
    background-color: #3882f6;
    padding: 6px;
    width: 90px;
}

.sign-up-2:hover {
    cursor: pointer;
    background-color: #2562c4;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}